* {
  box-sizing: border-box;
}

html {
  font-family: 'Play', sans-serif;
}

body {
  margin: 0;
  background: linear-gradient(to bottom, #43b7b8, #436aac, #8229ad);
}

header {

  color: #ffffff;
  padding: 1rem;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  width: 100%;
  font-size: x-large;
  height: 90px;
}

header h1{
  margin:0rem;
  padding: 0px;
}

footer{
  position: fixed;
  width: 580px;
  text-align: center;
  bottom: 0px;
  right: 25px;
  background-color: #ffffff;
  background-image: url(http://i26.servimg.com/u/f26/12/56/56/12/12210.png);
  background-repeat: repeat-x;
  background-position: center left;
  border: 1px solid #80c9ff;
  border-bottom: 0px;
  -moz-border-radius: 8px 8px 0px 0px;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  box-shadow: 0 0 7px LightGrey;
  -webkit-box-shadow: 0 0 7px LightGrey;
  -moz-box-shadow: 0 0 7px LightGrey;
  z-index: 999;

}

#calculator {
  margin: 0rem auto;
  max-width: 100%;
  border: 1px solid #024b86;
  border-radius: 0px;
  padding: 1rem;

  border-color: #00000000;
  height: calc(1365px-90px);
}

#results{
  margin: 0rem auto;
  max-width: 100%;
  border: 1px solid #024029;
  border-radius: 0px;
  padding: 1rem;
  color: #ffffff;
  background: #024029;
}

#results {
  text-align: center;
}

#calculator input {
  font: inherit;
  font-size: 3rem;
  border: 0px solid #666666;
  width: 25rem;
  height: 5rem;
  padding: 0.15rem;
  margin: auto;
  display: block;
  color: #000000;
  background: #ffffff;
  text-align: center;
}

#calculator input:focus {
  outline: none;
}

#calculator button {
  font: inherit;
  font-size: large;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border: 1px solid #ffffff;
  padding: 1rem;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

#results button {
  font: inherit;
  font-size: medium;
  background: #025939;
  color: white;
  border: 1px solid #025939;
  padding: 1rem;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

#calculator button:focus {
  outline: none;
}

#results button:focus {
  outline: none;
}

#calculator button:hover,
#calculator button:active {
  background: #000000;
  border-color: #000000;
}

#results button:hover,
#results button:active {
  background: #000000;
  border-color: #000000;
}

#calc-actions button {
  width: 4rem;
}

#results button{
  width: 4rem;
}

#calc-actions {
  margin-top: 1rem;
  text-align: center;
}

a {
  color:#ffffff;
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:visited {
  color:#ffffff
}

a:active {
  color:#ffffff
}

a:hover {
  color:#ffffff
}

